body {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1em;
}

h1 {
    text-align: center
}

h3 {
    padding-left: 4em;
    padding-right: 4em;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid blue;
}

.dropbtn {
    background-color: red;
    color: white;
    padding: 16px;
    cursor: pointer;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#candylist,
#juicelist,
#cereallist {
    display: none;
    position: absolute;
    background-color: blue;
    box-shadow: 0px 8px 16px 0px;
}

#candylist a,
#juicelist a,
#cereallist a {
    color: black;
    padding: 12px 16px;
    display: block;
}

#candylist a:hover,
#juicelist a:hover,
#cereallist a:hover {
    background-color: green;
}

.dropdown:hover #candylist {
    display: block;
}

.dropdown:hover #juicelist {
    display: block;
}

.dropdown:hover #cereallist {
    display: block;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

div#shoppinglist {
    width: 100%;
}

img {
    width: 20%;
}

footer {
    border: 1px solid green;
    text-align: center;
}
