body {
    background-color: lightgrey;
    font-family: 'Lato', sans-serif;
}

section {}

header {
    margin: 0;
    padding-top: 1em;
    text-align: center;
    background-color: black;
    color: white;
}

div {
    text-align: center;
}


}
h1 {
    font-size: 2em;
    font-weight: 700;
}
h2 {}
ul {
    display: flex;
    justify-content: space-around;
}
li {
    display: inline;
    text-decoration: none;
}
a {
    color: blue;
}
.item {
    width: 110px;
    height: 140px;
    margin: 10px 10px 10px 10px;
    border: black, 2px;
}
.item-image {
    width: 80%;
    height: auto;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.categories {
    background-color: white;
    width: 66%;
    display: inline-block;
}
.shoppingcart {
    text-align: center;
    background-color: white;
    width: 33%;
    display: inline-block;
}
.shoppingcart-ul {
    display: block;
    padding: 2em;
}
#shoppingcart-li {
    color: red;
}
.hidden {
    display: none !important;
}
#category-nav {
    padding: 1em;
    display: inline-block;
    justify-content: space-between;
}
#cereal-products {}
#juice-products {}
#candy-products {}

/*form {
	border: 2px solid lightgrey;
	color: white;
	background-color: black;
	addEventListener("click" button/field background-color blue)
}
.error {
	border: 2px solid red;
}
*/
